{% extends "masterPage.html" %}

{% block content %}

    <div class="section" >
        <form action="/" method="post" enctype = "multipart/form-data">

            <div class="responsive-table" >
                <table name="table" class="table table--lined table--selectable">
                    <thead>
                        <tr>
                            {% for attribute in headers %}
                            <th class="text-center">{{attribute}}</th>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody id="myTable" >
                        <tr height="170px">
                            <td style="text-align:center; min-width: 250px;" >
                                <div class="form-group form-group--inline dropdown" >
                                    <div class="form-group__text select" >
                                        <input id="branch" name="branch"  value="Select.." >
                                    </div>
                                    <div class="dropdown__menu" style="max-height:60px">
                                        <a value="A1" >Branch 1</a>
                                        <a value="A2">Branch 2</a>
                                        <a value="AN">Branch N</a>
                                    </div>
                                </div>
                            </td>
                           
                            <td style="text-align:center">
                                <label class="switch">
                                    <label> No </label> &nbsp
                                    <input type="checkbox" id="param_1_select" name="param_1_select" >
                                    <span class="switch__input"></span>
                                    <span class="switch__label"></span>
                                    <label> Yes</label> 
                                </label>
                            </td>

                            <td style="text-align:center">
                                <label class="switch">
                                    <label> No </label> &nbsp
                                    <input type="checkbox" id="param_2_select" name="param_2_select"  >
                                    <span class="switch__input"></span>
                                    <span class="switch__label"></span>
                                    <label> Yes </label> 
                                </label>
                            </td>

                            <td style="text-align:center">
                            <div class="form-group base-margin-bottom">
                                <div class="form-group__text">
                                    <br>
                                    <input id="param_3_select" name="param_3_select" type="text" placeholder="Message.." >
                                </div>
                            </div>
                        </td>

                        </tr>
                    </tbody id="myTable">
                </table>

            </div>    
            <button id="submit-file" onclick="this.innerHTML='Loading...'" style="color: white;font-size: large;margin-bottom: 10px; left:1488px;" class="btn btn--primary" type="submit">Sumbit</button>
        </form>
        <div id="output"></div>
    </div>

    {% if success %}
        <h2 class="subtitle">Status Update</h2>
        <hr>
        <div class="section" >
            <div class="toast base-margin-bottom" >
                <div class="toast__icon text-success icon-check-outline" ></div>
                <div class="toast__body" >
                    <div class="toast__title">Update Complete</div>
                    <div class="toast__message">Successfully updated the service information as the following:<br><br>
                          {% for p in params_list %}
                            <i> <b>{{p.name}}</b> {{p.value}}</i><br>
                          {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    {% endif %}
  
{%  endblock %}